@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

.weather-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background: transparent;
    padding: 10px;
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
}

.form-group {
    font-family: 'Lora', serif;
    width: 100%;
}

.form-select {
    font-family: 'Lora', serif;
    padding: 10px;
    border: 1px solid rgba(224, 220, 220, 0.5);
    border-radius: 5px;
    font-size: 1rem;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    
}

.form-select:hover {
    border-color: #ffc857;
}

.form-button {
    font-family: 'MedievalSharp', sans-serif;
    padding: 10px 20px;
    border: 2px solid transparent;
    border-radius: 5px;
    background: #e0dcdc;
    color: #1a1a40;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
    text-shadow: 0 0 8px #a896a8;
}

.form-button:hover {
    background-color: #ffffff;
    box-shadow: 0 0 15px #e0dcdc;
    transform: translateY(-2px);
}
