.weather-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background: transparent;
    padding: 10px;
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
}

.form-group {
    width: 100%;
}

.form-select {
    padding: 10px;
    border: 1px solid rgba(224, 220, 220, 0.5);
    border-radius: 5px;
    font-size: 1rem;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    
}

.form-select:hover {
    border-color: #ffc857;
}

.form-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(90deg, #4fbfff, #ffc857);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

.form-button:hover {
    background: linear-gradient(90deg, #ffc857, #4fbfff);
    transform: scale(1.05);
}
