.weather-card {
  font-family: "MedievalSharp", sans-serif;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border: 2px solid rgba(224, 220, 220, 0.5);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  color: #fff;
  text-align: center;
  transition: transform 0.3s ease;
  animation: fade-in 0.5s ease;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.weather-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.3);
}

.weather-info {
  font-family: 'Lora', serif;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.weather-condition {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.weather-condition img {
  width: 80px;
  height: 80px;
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.7));
}

.weather-condition img {
  width: 50px;
  height: 50px;
}

.weather-stats {
  text-align: left;
}
